body{
     background-color: lightskyblue;
}

.container{
     width: 365px;
     height: 850px;
     margin-left: 460px;
     border-radius: 20px;
     background-color: rgb(0, 0, 0);
}

#two{
    width: 50px;
    height: 50px;
    color: aqua;
    background-color: aliceblue;
    border-radius: 20px;
    margin: 17px;
    outline: none;
    border: none;
    font-size: 1.4rem;
}

#one{
     text-align: right;
     margin-left: 180px;
     margin-top: 60px;
     border: none;
}

#on{
    text-align: right;   
}

#three{
     width: 50px;
     height: 50px;
     color: aqua;
     background-color: aliceblue;
     border-radius: 20px;
     margin: 17px;
     outline-color: white;
     border: none;
     font-size: 1.4rem;
}

#four{
     width: 50px;
     height: 50px;
     color: rgb(0, 8, 255);
     background-color: aqua;
     border-radius: 20px;
     margin: 17px;
     outline-color: aliceblue;
     border: none;
     font-size: 1.4rem;
}

button:focus{
     border: 2px solid # #4a90e2;
}

#five{
     margin: 40px;
     color: aqua;
     display: flex;
     font-size: 1.4rem;
}

.tests{
     margin-left: 2px;
     display: flex;
}

.test{
     margin-left: 2px;
     display: flex;
}

#six{
     width: 50px;
     height: 80px;
     color: rgb(0, 8, 255);
     background-color: aqua;
     border-radius: 20px;
     margin: 17px;
     outline-color: white;
     border: none;
     font-size: 1.4rem;
}

.tes{
     margin-left: 2px;
     display: flex;
     margin-bottom: 20px;
}

.te{
     margin-left: 100px;
     display: flex;
}

#nineteen{
     width: 50px;
     height: 50px;
     color: lightskyblue;
     background-color: aliceblue;
     border-radius: 20px;
     margin: 17px;
     border: none;
     font-size: 1.4rem;
}

#seventy{
     width: 50px;
     height: 80px;
     color: rgb(255, 255, 255);
     background-color: rgb(27, 30, 173);
     border-radius: 20px;
     margin: 17px;
     outline-color: white;
     border: none;
     box-shadow: -10px 10px 15px rgba(0, 123, 255, 0.5);
}

#kill{
     text-align: right;
     margin-left: 60px;
     border: none;
     font-size: 1.5rem;
}
styles.css
Displaying index.html.

